:root{
    --chartreuse: #e0ff4f;
    --gunmetal: #00272b;
    --bg: #e9f2f2;
    --white: #ffffff;
    --muted: #4b5a5a;
}

/* GLOBAL */
*{
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body{
  margin: 0;
  background: var(--bg);
  min-height: 100vh;
  padding: 20px;
  color: var(--gunmetal);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 14px;
}

.container{
  width: 100%;
  max-width: 760px;
}

/* HEADER */
header{
  text-align: center;
  margin-bottom: 14px;
}

h1{
  margin: 0;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--gunmetal);
}

.sub{
  margin-top: 4px;
  color: var(--muted);
  font-size: 0.85rem;
}

/* CARD */
.card{
  background: var(--white);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 18px rgba(0,0,0,0.08);
  margin-bottom: 16px;
}

/* BUTTONS */
.btn{
  padding: 8px 14px;
  border-radius: 8px;
  border: 2px solid var(--gunmetal);
  background: white;
  color: var(--gunmetal);
  cursor: pointer;
  margin: 4px;
  font-weight: 600;
  font-size: 0.85rem;
  transition: 0.2s;
}

.btn:hover{
  background: var(--chartreuse);
  border-color: var(--gunmetal);
}

.btn.primary{
  background: var(--gunmetal);
  color: white;
}

.btn.primary:hover{
  background: #024046;
}

/* QUIZ LAYOUT */
.top-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

#timer{
  font-weight: 600;
  color: var(--gunmetal);
  font-size: 0.9rem;
}

#progress{
  font-size: 0.9rem;
  font-weight: 600;
}

.question-box h3{
  margin: 0 0 12px 0;
  font-size: 1rem;
  font-weight: 600;
  color: var(--gunmetal);
}

.question-timer {
    font-size: 12px;
    font-weight: bold;
    color: #c30000;
    margin-bottom: 10px;
    padding-top: 1.0rem;
  }
  
/* CHOICES */
.choices{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.choice{
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #cbd5e1;
  cursor: pointer;
  background: white;
  font-size: 0.85rem;
  transition: 0.25s;
}

.choice:hover{
  background: #f5ffe0;
  border-color: var(--gunmetal);
}

.choice.selected{
  background: var(--chartreuse);
  border-color: var(--gunmetal);
  font-weight: 600;
}

/* TIME BAR */
.time-bar-container{
  width: 100%;
  height: 6px;
  background: #cbd5e1;
  border-radius: 3px;
  margin-top: 4px;
}

.time-bar{
  height: 100%;
  width: 100%;
  background: var(--chartreuse);
  border-radius: 3px;
  transition: width 0.5s linear, background 0.5s linear;
}

footer{
  text-align: center;
  margin-top: 12px;
  color: var(--muted);
  font-size: 12px;
}

.hidden{ display: none; }
.center{ text-align: center; }
